body {
  background: #fffaf0;
}

.login label,
.login input,
.login button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login input {
  border-width: 0 0 1px 0;
  border-color: #677880;
  height: 48px;
  margin-bottom: 24px;
  transition: border 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
}

.login input:hover {
  border-color: #2e6ff2;
  border-bottom-width: 2px;
}

.login input:focus {
  outline: none;
  border: 2px solid #2e6ff2;
}

.login label {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

.login button {
  background: #29363d;
  color: #fff;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

main h1 strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.2);
  border-bottom: 1px solid #ff4f6e;
}
