.post-card {
  width: 288px;
  height: 348px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  border-radius: 8px;
  width: 288px;
  height: 196px;
  vertical-align: top;
}

.text {
  padding-left: 16px;
}

.title {
  margin-top: 25px;
  color: #29363D;
  font-weight: 700;
  line-height: 19.2px;
}

.content {
  display: block;
  text-overflow: ellipsis;
  width: 256px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  line-height: 20px;
  color: #5a6a72;
}

.read {
  padding-left: 22px;
  padding-right: 20px;
  color: #29363d;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

.vector {
  position: relative;
  margin-right: 85px;
}

.vector::after {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  width: 4px;
  height: 4px;
  top: calc(50% - 8px/2);

  border-top: 2px solid #29363d;
  border-right: 2px solid #29363D;
  transform: rotate(45deg);
}

p img {
  width: 22px;
  height: 19.42px;
  top: 7px;
}

p img:not(:last-child) {
  padding-right: 20px;
}